<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Connect 5</title>

  <link rel="stylesheet" href="dist/style.css">

  <!-- Angular -->
  <script src="bower_components/angular/angular.min.js"></script>
  
  <!-- Authored JS -->
  <script src="dist/built.js"></script>
</head>
<body ng-app="app">

  <div ng-controller="Board">
    <!-- <div class="view-state" ng-click="view()"></div> -->
    <div class="board container">
      <div class="gameover" ng-show="gameover">
        <h1>Game over! {{winner}} wins!</h1>
      </div>

      <div ng-repeat="item in board"
        ng-mouseover="item.hover = true"
        ng-mouseleave="item.hover = false"
        class="space"
        id="{{item.id}}"
        >

        <div class="space-inner" ng-class="{
          taken : item.taken,
          black : item.color === 'black',
          white : item.color === 'white',
          hoverB : !item.color && item.hover && getTurn(),
          hoverW : !item.color && item.hover && !getTurn()
        }" ng-click="add(item)" ng-disabled="item.taken"></div>
      </div>
    </div>
  </div>

</body>
</html>
