<div class="overlay"></div>
<div ng-controller="Board">
  <p class="turn-label">{{getTurnColor()}} Turn!</p>
  
  <div class="board container" ng-class="{
    blackturn : getTurn() && getPlayerColor() === 'black',
    whiteturn : !getTurn() && getPlayerColor() === 'white'
  }">
    <div class="gameover animate-show" ng-show="gameover">
      <h1>Game over! {{winner}} wins!</h1>
    </div>

    <div ng-repeat="item in board"
      class="space"
      id="{{item.id}}">

      <div class="space-inner" ng-class="{
        taken : item.taken,
        black : item.color === 'black',
        white : item.color === 'white'
      }" ng-click="add(item)" ng-disabled="item.taken">
      </div>
      
    </div>
  </div>
</div>
