@import 'normalize';

body {
  padding-top: 40px;
}

.board {
  width: 665px;
  margin: auto;
  position: relative;
  background-image: url('../images/wood_pattern.png');
  line-height: 0;
}

.space {
  width: 35px;
  height: 35px;
  margin: 0;
  display: inline-block;
}

.space-inner {
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
}

.space:nth-child(even) {
  background-color: rgba(255,255,255,0.2);
}

.view-state {
  width: 200px;
  height: 40px;
  background-color: #6b3333;
}

.taken {
  color: #bbb;
}

.black {
  background-color: #2d2d2d;
}

.hoverB {
  background-color: rgba(0,0,0,0.5);
}

.hoverW {
  background-color: rgba(255,255,255,0.5);
}

.white {
  background-color: #efefef;
}

.gameover {
  background-color: #000;
  color: #fff;
  width: 450px;
  height: 450px;
  position: absolute;
  top: 0;
  left: 0;
}
