@import 'normalize';

html {
  height: 100%;
}

body {
  padding: 40px 0;
  background-image: url('../images/wood_pattern.png');
  height: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
}

.board {
  width: 570px;
  margin: auto;
  position: relative;
  line-height: 0;
  border: 30px solid #8C5B3B;
  background-image: url('../images/wood_pattern.png');
}

.space {
  width: 30px;
  height: 30px;
  margin: 0;
  display: inline-block;
}

.space-inner {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}

.space:nth-child(even) {
  background-color: rgba(255,255,255,0.2);
}

.view-state {
  width: 200px;
  height: 40px;
  background-color: #6b3333;
}

.taken {
  color: #bbb;
}

.black {
  background-image: url('../images/marble_black.png');
}

.white {
  background-image: url('../images/marble_white.png');
}

.blackturn .space-inner:not(.taken):hover {
  background-image: url('../images/marble_black_hover.png');
}

.whiteturn .space-inner:not(.taken):hover {
  background-image: url('../images/marble_white_hover.png');
}

.gameover {
  background-color: #000;
  color: #fff;
  width: 570px;
  height: 570px;
  position: absolute;
  top: 0;
  left: 0;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}
